$background-light: rgb(42, 42, 42);
$background-dark: rgb(35, 35, 35);
$border-color: rgb(102, 102, 102);

$font-color-light: rgb(204, 204, 204);
$font-color-dark: rgb(143, 143, 143);

$font-size: 15pt;
$font-weight: 100;
$font-family: Myriad Pro, -apple-system, Roboto, "Helvetica Neue";

%font-shared {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  @media screen and (min-width: 768px) {
    font-size: 12pt;
  }
}

@mixin placeholder-text($font-size, $font-family, $font-weight, $border-color) {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $border-color;
}

%flexdisplay-shared {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100vw;
  height: 100vh;
  .loaderContainer {
    width: 100vw;
    height: 100vh;
    @extend %flexdisplay-shared;
    .circleLoad {
      width: 30vw;
      height: 30vw;
      @extend %flexdisplay-shared;
      border-radius: 50%;
      border: 1px solid transparent;
      border-top: 1px solid $border-color;
      background-color: $background-light;
      animation: cirlceLoader 2000ms infinite ease-in-out;
      @media screen and (min-width: 425px) {
        width: 25vw;
        height: 25vw;
      }
      @media screen and (min-width: 768px) {
        width: 11vw;
        height: 11vw;
      }
      @media screen and (min-width: 1024px) {
        width: 9vw;
        height: 9vw;
      }
      @keyframes cirlceLoader {
        100% {
          transform: rotate(360deg);
        }
      }
      .loader {
        z-index: 1;
        width: 9vw;
        height: 9vh;
        background-image: url("oshower.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        animation: identifier 2000ms infinite ease-in-out;
      }
      @keyframes identifier {
        0% {
          opacity: 60%;
          width: 9vw;
          height: 9vh;
        }
        50% {
          width: 12vw;
          height: 12vh;
          opacity: 100%;
        }
        100% {
          width: 9vw;
          height: 9vh;
          opacity: 60%;
        }
      }
    }
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(6, 16.6666667vw);
    grid-template-rows: repeat(8, 12.5vh);

    .img {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 3;
      grid-column-end: 5;
      @extend %flexdisplay-shared;
      .imgIcon {
        width: 15vw;
        height: 15vh;
        background-image: url("oshower.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        animation: identifiers 2000ms infinite ease-in-out;
      }
      @keyframes identifiers {
        0% {
          opacity: 60%;
        }
        50% {
          opacity: 100%;
        }
        100% {
          opacity: 60%;
        }
      }
    }

    .longitude {
      z-index: 2;
      outline: none;
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 7;
      background-color: transparent;
      border: 1px solid transparent;
      @include placeholder-text(
        $font-size,
        $font-family,
        $font-weight,
        $border-color
      );
      color: $font-color-light;
      letter-spacing: 1px;
      @media screen and (min-width: 768px) {
        font-size: 12pt;
      }
    }
    .longitudeBorder {
      z-index: 1;
      width: 0vw;
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 7;
      background-color: transparent;
      border: 1px solid transparent;
      border-top: 1px solid $border-color;
    }
    .longitudeBackground {
      width: 100vw;
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 7;
      background-color: $background-light;
      border: 1px solid transparent;
    }
    .latitude {
      z-index: 2;
      outline: none;
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 1;
      grid-column-end: 7;
      background-color: transparent;
      border: 1px solid transparent;
      @include placeholder-text(
        $font-size,
        $font-family,
        $font-weight,
        $border-color
      );
      color: $font-color-light;
      letter-spacing: 1px;
      @media screen and (min-width: 768px) {
        font-size: 12pt;
      }
    }
    .latitudeBorder {
      z-index: 1;
      width: 0vw;
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 1;
      grid-column-end: 7;
      background-color: transparent;
      border: 1px solid transparent;
      border-bottom: 1px solid $border-color;
    }
    .latitudeBackground {
      width: 100vw;
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 1;
      grid-column-end: 7;
      background-color: $background-light;
      border: 1px solid transparent;
    }
    .button {
      border-radius: 45px;
      outline: none;
      border: 1px solid $border-color;
      grid-row-start: 7;
      grid-row-end: 8;
      grid-column-start: 2;
      grid-column-end: 6;
      border: 1px solid $border-color;
      background-color: transparent;
      @include placeholder-text(
        15pt,
        $font-family,
        $font-weight,
        $border-color
      );
      letter-spacing: 1px;
      color: $font-color-light;
      @media screen and (min-width: 768px) {
        grid-row-start: 7;
        grid-row-end: 8;
        grid-column-start: 3;
        grid-column-end: 5;
        font-size: 12pt;
      }
    }
  }
}
